
name: Python Tests
on: [ push, pull_request ]
jobs:
  test:
    name: Python tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install python3-dev python3-pip
        curl -sSL https://install.python-poetry.org | PYTHON=python3 python3 -
        export PATH="$HOME/.local/bin:$PATH"
        source ~/.bashrc
        poetry --version
        poetry install

#    - name: Run tests
#      run: |
#        pytest ./tests        

